################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SRSoftwareAPI/.vs/SRSoftwareAPI
/SRSoftwareAPI/SRSoftwareAPI/bin/Debug/net8.0
/SRSoftwareAPI/SRSoftwareAPI/obj
